<!DOCTYPE html>
<html lang="en" ng-app="Gradebook">
<head>
	<meta charset="UTF-8">
	<title>Gradebook</title>
</head>
<body>

	<div ng-controller="Login.Ctrl">
		<div class="row">

			<!--Welcome dashboard view-->
			<h1>{{message}}</h2>



			</div><!--/row-->
		</div><!--/parent div-->

		<!-- js placed at the end of the document so the pages load faster -->
		<script src="assets/js/angular.min.js" type="text/javascript"></script>
		<script src="assets/js/angular-ui-router.min.js" type="text/javascript"></script>
		<script src="assets/js/jquery.js"></script>
		<script src="assets/js/jquery-1.8.3.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
		<script src="assets/js/jquery.scrollTo.min.js"></script>
		<script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>
		<script src="assets/js/jquery.sparkline.js"></script>

		<!--common script for all pages-->
		<script src="assets/js/raphael.js"></script>
		<script src="assets/js/morris.js"></script>
		<script src="assets/js/common-scripts.js"></script>
		<script type="text/javascript" src="assets/js/gritter/js/jquery.gritter.js"></script>
		<script type="text/javascript" src="assets/js/gritter-conf.js"></script>

		<!--script for this page-->
		<script src="assets/js/sparkline-chart.js"></script>
		<script src="assets/js/bootstrap-datepicker.js"></script>	
		<script src="assets/js/Chart.js"></script>  
		<script src="assets/js/zabuto_calendar.js"></script>
		<script src="app/home/gradebook.home.module.js"></script>
		<script src="app/home/gradebook.home.controller.js"></script>
		<script src="app/assignments/gradebook.assignments.module.js"></script>
		<script src="app/assignments/gradebook.assignments.controller.js"></script>
		<script src="app/students/gradebook.students.module.js"></script>
		<script src="app/students/gradebook.students.controller.js"></script>
		<script src="app/courses/gradebook.courses.module.js"></script>
		<script src="app/courses/gradebook.courses.controller.js"></script>
		<script src="app/courses/gradebook.courses.service.js"></script>
		<script src="app/users/gradebook.users.module.js"></script>
		<script src="app/users/gradebook.users.controller.js"></script>
		<script src="app/grades/gradebook.grades.controller.js"></script>
		<script src="app/grades/gradebook.grades.module.js"></script>
		<script src="app/grades/gradebook.grades.service.js"></script>
		<script src="app/login/gradebook.login.module.js"></script>
		<script src="app/login/gradebook.login.controller.js"></script>
		<script src="app/app.route.js"></script>
		<script src="app/app.module.js"></script>

	</body>
</html>