<div class="col-lg-12">

	<!--Header for view type-->
	<h1>{{viewType}}</h1>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{course.name}}</h3>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Name<button type="button" class="btn btn-default pull-right" ng-click="editName()"><i class="fa fa-edit"></i></button></th>
						<th>CRN<button type="button" class="btn btn-default pull-right" ng-click="editCourseNum()"><i class="fa fa-edit"></i></button></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td ng-hide="toggleNameEdit">{{course.name}}</td>
						<td ng-show="toggleNameEdit">
							<input type="text" class="form-control" id="name" placeholder="{{course.name}}" ng-model="course.name">
						</td>
						<td ng-hide="toggleCRNEdit">{{course.courseNum}}</td>
						<td ng-show="toggleCRNEdit">
							<input type="text" class="form-control" id="num" placeholder="{{course.courseNum}}" ng-model="course.courseNum">
						</td>
					</tr>
				</tbody>
			</table>
			<table class="table">
				<caption><h4>Students</h4></caption>
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="student in course.students">
						<td><a ui-sref="studentDetail({student_id: student._id})">{{student.firstName + " " + student.lastName}}</a></td>
						<td>{{student.email}}</td>
					</tr>
				</tbody>
			</table>
			<span class="pull-right"><b>Total Students: {{course.students.length}}</b></span>
			<input type="button" class="btn btn-theme" value="Edit Students" ng-click="toggleState()">

			<!--Add or remove students from course-->
			<div ng-show="addStudentButton">
				<div class="col-sm-6">
					<table class="table col-sm-6">
						<thead>
							<tr>
								<th>Students in course</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="student in course.students">
								<td><button class="btn btn-theme04" ng-click="toggleOut(student, $index)">{{student.firstName + " " + student.lastName}}<span class="pull-right"> <i class="fa fa-minus"></i></button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-sm-6">
					<table class="table col-sm-6">
						<thead>
							<tr>
								<th>Students</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="student in studentsOut">
								<td><button class="btn btn-theme05" ng-click="toggleIn(student, $index)">{{student.firstName + " " + student.lastName}}<span class="pull-right"><i class="fa fa-plus"></i></button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<hr/>
			</div>

			<table class="table">
				<caption><h4>Assignments</h4></caption>
				<thead>
					<tr>
						<td class="col-sm-3">Name</td>
						<td class="col-sm-8">Description</td>
						<td class="col-sm-1">Points</td>
						<td></td>
					</tr>
				</thead>
				<tbody>					
					<tr ng-repeat="assignment in course.assignments">
						<td class="col-sm-3"><a ui-sref="assignmentDetail({assignment_id: assignment._id})">{{assignment.name}}</a></td>
						<td class="col-sm-8">{{assignment.description}}</td>
						<td class="col-sm-1">{{assignment.maxPoints}}</td>
						<td>
							<a ui-sref="gradeAssignment({assignment_id: (assignment._id)})"><button type="button" class="btn btn-theme05">Grade</button></a>
						</td>
					</tr>
				</tbody>
			</table>
			<span class="pull-right"><b>Total Points: {{pointTotal}}</b></span>
			<input type="button" class="btn btn-theme" value="Edit Assignments">
			<br/>
			<hr/>
			<div>
				<span class="pull-right">
					<button type="button" class="btn btn-theme" ng-click="updateCourse(course._id)">Save</button>
					<a ui-sref="courseState"><button type="button" class="btn btn-theme04" >Cancel</button></a>
				</span>
			</div>
		</div>
	</div>
</div>