<div class="col-lg-12">

	<!--Header for view type-->
	<div class="row">                
		<div class="col-lg-6">
			<h2>{{viewName}}</h2>
			<hr/>
		</div>
	</div>
	<!--End header-->

	<!--Begin student create form-->
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="firstName" class="col-sm-2 control-label">First Name</label>
			<div class="col-sm-10">
				<input type="text" id="firstName" class="form-control" placeholder="Enter First Name" ng-model="studentInfo.firstName">
			</div>
		</div>
		<div class="form-group">
			<label for="lastName" class="col-sm-2 control-label">Last Name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control"placeholder="Enter Course Number" ng-model="studentInfo.lastName">
			</div>
		</div>
		<div class="form-group">
			<label for="phoneNumber" class="col-sm-2 control-label">Phone Number</label>
			<div class="col-sm-10">
				<input type="text" class="form-control"placeholder="Enter Phone Number" ng-model="studentInfo.phoneNumber">
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-10">
				<input type="text" class="form-control"placeholder="Enter Email" ng-model="studentInfo.email">
			</div>
		</div>
		<div class="form-group">
			<label for="comments" class="col-sm-2 control-label">Comments</label>
			<div class="col-sm-10">
				<textarea class="form-control" id="comments" rows="3" placeholder="Enter Comments" ng-model="studentInfo.comments"></textarea>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-theme" ng-click="postData()">Submit</button>
				<button type="button" class="btn btn-theme04" ng-click="cancel()">Cancel</button>
			</div>
		</div>
	</form>	
	<!--End student create form-->

	<br/>
	<br/>
	<!--Validation alerts-->
	<span ng-show="nameRequired">
		<div class="alert alert-danger">{{nameRequired}}</div>
	</span>
	<span ng-show="emailRequired">
		<div class="alert alert-danger">{{emailRequired}}</div>
	</span>
	<span ng-show="failed">
		<div class="alert alert-danger">{{failed}}</div>
	</span>
	
	<!--Testing Angular bindings
	<table class="table table-striped">
		<caption>Bindings:</caption>
		<thead>
			<tr>
				<th>Course Name</th>
				<th>Course Number</th>
				<th>Comments</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{courseInfo.name}}</td>
				<td>{{courseInfo.courseNum}}</td>
				<td>{{courseInfo.comments}}</td>
			</tr>
		</tbody>
	</table>-->
</div>